<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020-2021 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.appstore.infrastructure.persistence.app.AppMapper">

    <select id="findByAppId"
            resultType="org.edgegallery.appstore.infrastructure.persistence.app.AppPo"
            parameterType="String">
        select * from app_table where appid = #{appId}
    </select>

    <select id="findByAppNameAndProvider"
            resultType="org.edgegallery.appstore.infrastructure.persistence.app.AppPo"
            parameterType="String">
        select * from app_table where appname = #{param1} and provider = #{param2}
    </select>

    <update id="update"
            parameterType="org.edgegallery.appstore.infrastructure.persistence.app.AppPo">
        update app_table
        SET modifytime      = (select now()),
            shortdesc       = #{shortDesc},
            showtype        = #{showType},
            provider        = #{provider},
            appname         = #{appName},
            applicationType = #{applicationType},
            deployMode      = #{deployMode},
            appIntroduction = #{appIntroduction},
            downloadcount   = #{downloadCount},
            affinity        = #{affinity},
            industry        = #{industry},
            contact         = #{contact},
            userid          = #{userId},
            username        = #{userName},
            score           = #{score},
            status          = #{status}
        WHERE appid = #{appId}
    </update>

    <insert id="insert"
            parameterType="org.edgegallery.appstore.infrastructure.persistence.app.AppPo">
        insert into app_table
        (appid, createtime, modifytime, shortdesc, showtype, provider, appname, applicationType, deployMode,
         appIntroduction,
         downloadcount, affinity, industry, contact, userid, username, score, status)
        VALUES (#{appId}, (select now()), (select now()), #{shortDesc}, #{showType}, #{provider}, #{appName},
                #{applicationType}, #{deployMode},
                #{appIntroduction}, #{downloadCount}, #{affinity}, #{industry}, #{contact}, #{userId}, #{userName}, 5.0,
                #{status})
    </insert>

    <delete id="remove" parameterType="String">
        delete from
        app_table
        where
        appid=#{appId}
    </delete>


    <select id="countTotalV2" resultType="java.lang.Integer"
            parameterType="java.util.Map">
        select count(*) from app_table
        <where>
            <if test="appId != null">
                and appid = #{appId}
            </if>
            <if test="appName != null">
                and appname like '%' || #{appName} || '%'
            </if>
            <if test="provider != null">
                and provider = #{provider}
            </if>
            <if test="applicationType != null">
                and applicationtype = #{applicationType}
            </if>
            <if test="affinity != null">
                and affinity = #{affinity}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="userId != null">
                and appId in ( select appId from catalog_package_table where catalog_package_table.userId = #{userId})
            </if>
        </where>
    </select>


    <select id="findAllWithAppPaginationV2"
            resultType="org.edgegallery.appstore.infrastructure.persistence.app.AppPo"
            parameterType="java.util.Map">
        select * from app_table
        <where>
            <if test="appId != null">
                and appid = #{appId}
            </if>
            <if test="appName != null">
                and appname like '%' || #{appName} || '%'
            </if>
            <if test="provider != null">
                and provider = #{provider}
            </if>
            <if test="applicationType != null">
                and applicationtype = #{applicationType}
            </if>
            <if test="affinity != null">
                and affinity = #{affinity}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="showType != null">
                and showType != #{showType}
            </if>
            <if test="userId != null">
                and appId in ( select appId from catalog_package_table where catalog_package_table.userId = #{userId})
            </if>
        </where>
        <if test="sortType != null and sortItem != null and createTime !=null">
            order by ${sortItem} ${sortType},${createTime} ${sortType}
        </if>
        limit #{limit} offset #{offset}
    </select>
    <select id="countTotalAppForUser" resultType="java.lang.Integer"
            parameterType="java.util.Map">
        select count(*) from app_table where userid = #{userId}
    </select>

    <select id="countTotal" resultType="java.lang.Integer"
            parameterType="java.util.Map">
        select count(*) from app_table
        <where>
            <if test="appName != null">
                and appname = #{appName}
            </if>
            <if test="provider != null">
                and provider = #{provider}
            </if>
            <if test="applicationType != null">
                and applicationtype = #{applicationType}
            </if>
            <if test="affinity != null">
                and affinity = #{affinity}
            </if>
            <if test="userId != null">
                and userid = #{userId}
            </if>
        </where>
        limit #{limit} offset #{offset}
    </select>


    <select id="findAllWithAppPagination"
            resultType="org.edgegallery.appstore.infrastructure.persistence.app.AppPo"
            parameterType="java.util.Map">
        select * from app_table
        <where>
            <if test="appId != null">
                and appid = #{appId}
            </if>
            <if test="appName != null">
                and appname = #{appName}
            </if>
            <if test="provider != null">
                and provider = #{provider}
            </if>
            <if test="applicationType != null">
                and applicationtype = #{applicationType}
            </if>
            <if test="affinity != null">
                and affinity = #{affinity}
            </if>
            <if test="userId != null">
                and appId in ( select appId from catalog_package_table where catalog_package_table.userId = #{userId})
            </if>
        </where>
        order by createtime DESC
        limit #{limit} offset #{offset}
    </select>
</mapper>
