<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.appstore.infrastructure.persistence.appstore.AppStoreMapper">
    <insert id="addAppStore"
            parameterType="org.edgegallery.appstore.infrastructure.persistence.appstore.AppStorePo">
        insert into app_store_table
        (appstoreid, appstorename, appstoreversion, company, url, schema, apppushintf,
        appdtransid, addedtime, description)
        values (#{appStoreId}, #{appStoreName}, #{appStoreVersion}, #{company}, #{url}, #{schema},
        #{appPushIntf}, #{appdTransId}, (select now()), #{description})
    </insert>

    <delete id="deleteAppStoreById"
            parameterType="java.lang.String">
        delete from app_store_table where appstoreid = #{appStoreId}
    </delete>

    <update id="updateAppStoreById"
            parameterType="org.edgegallery.appstore.infrastructure.persistence.appstore.AppStorePo">
        update app_store_table
        <set>
            modifiedtime = (select now()),
            <if test="appStoreName != null and appStoreName !=''">
                appstorename = #{appStoreName},
            </if>
            <if test="appStoreVersion != null and appStoreVersion !=''">
                appstoreversion = #{appStoreVersion},
            </if>
            <if test="company != null and company !=''">
                company = #{company},
            </if>
            <if test="url != null and url !=''">
                url = #{url},
            </if>
            <if test="schema != null and schema !=''">
                schema = #{schema},
            </if>
            <if test="appPushIntf != null and appPushIntf !=''">
                apppushintf = #{appPushIntf},
            </if>
            <if test="appdTransId != null and appdTransId !=''">
                appdtransid = #{appdTransId},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
        </set>
        WHERE appstoreid = #{appStoreId}
    </update>

    <select id="queryAppStoreById"
            resultType="org.edgegallery.appstore.infrastructure.persistence.appstore.AppStorePo"
            parameterType="java.lang.String">
        select appstoreid, APPSTORENAME, appstoreversion, company, url, schema, apppushintf,
        appdtransid, addedtime, modifiedtime, description from app_store_table where appstoreid = #{appStoreId}
    </select>

    <select id="queryAppStoresV2"
            parameterType="java.util.Map"
            resultType="org.edgegallery.appstore.infrastructure.persistence.appstore.AppStorePo">
        select appstoreid, APPSTORENAME, appstoreversion, company, url, schema, apppushintf,
        appdtransid, addedtime, modifiedtime, description from app_store_table
        <where>
            <if test="appStoreName != null and appStoreName != ''">
                appstorename ilike '%' || #{appStoreName} || '%'
            </if>
        </where>
        order by addedtime desc
        limit #{limit} offset #{offset}
    </select>

    <select id="getAllAppstoreCount" parameterType="java.lang.String"
            resultType="java.lang.Integer">
        select count(*) from app_store_table
        <where>
            <if test="appStoreName != null and appStoreName != ''">
                and appstorename ilike '%' || #{appStoreName} || '%'
            </if>
        </where>
    </select>

    <select id="queryAppStores"
            resultType="org.edgegallery.appstore.infrastructure.persistence.appstore.AppStorePo"
            parameterType="org.edgegallery.appstore.infrastructure.persistence.appstore.AppStorePo">
        select appstoreid, APPSTORENAME, appstoreversion, company, url, schema, apppushintf,
        appdtransid, addedtime, modifiedtime, description from app_store_table
        <where>
            <if test="appStoreName != null and appStoreName != ''">
                and appstorename ilike #{appStoreName}
            </if>
            <if test="company != null and company != ''">
                and company ilike #{company}
            </if>
        </where>
    </select>
</mapper>
