<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.edgegallery.appstore.infrastructure.persistence.comment.CommentMapper">

    <delete id="removeAll">
        delete from csar_package_score where appid = #{appId}
    </delete>

    <insert id="insert">
        insert into csar_package_score
        (userid, username, appid, comments, score, commenttime)
        select #{userId}, #{userName}, #{appId}, #{comments}, #{score}, (select now())
        where
        not exists(select 1 from csar_package_score c where
        c.userid = #{userId} and c.appid = #{appId})
    </insert>

    <select id="findAllWithPagination"
            resultType="org.edgegallery.appstore.infrastructure.persistence.comment.CommentPO"
            parameterType="java.util.Map">
        select * from csar_package_score where appid = #{appId} limit #{limit} offset #{offset}
    </select>

    <select id="countTotal" resultType="java.lang.Integer"
            parameterType="java.util.Map">
        select count(*) from csar_package_score where appid = #{appId} limit #{limit} offset
        #{offset}
    </select>

    <select id="findAll"
            resultType="org.edgegallery.appstore.infrastructure.persistence.comment.CommentPO"
            parameterType="java.util.Map">
        SELECT * FROM CSAR_PACKAGE_SCORE WHERE APPID = #{appId}
    </select>

    <select id="getNumOfComments" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*) from csar_package_score where APPID = #{appId}
    </select>
</mapper>
