<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~    Copyright 2021 Huawei Technologies Co., Ltd.
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.edgegallery.appstore.infrastructure.persistence.meao.PackageSubscribeMapper" >
  <resultMap id="BaseResultMap" type="org.edgegallery.appstore.infrastructure.persistence.meao.PackageSubscribe" >

    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="caller_id" property="callerId" jdbcType="VARCHAR" />
    <result column="meao_id" property="meaoId" jdbcType="VARCHAR" />
    <result column="notification_uri" property="notificationUri" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >

    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >

    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >

    id, caller_id, meao_id, notification_uri
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >

    select 
    <include refid="Base_Column_List" />
    from package_subscribe_table
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >

    delete from package_subscribe_table
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="org.edgegallery.appstore.infrastructure.persistence.meao.PackageSubscribe" >

    insert into package_subscribe_table (id, caller_id, meao_id, 
      notification_uri)
    values (#{id,jdbcType=VARCHAR}, #{callerId,jdbcType=VARCHAR}, #{meaoId,jdbcType=VARCHAR}, 
      #{notificationUri,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.edgegallery.appstore.infrastructure.persistence.meao.PackageSubscribe" >

    insert into package_subscribe_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="callerId != null" >
        caller_id,
      </if>
      <if test="meaoId != null" >
        meao_id,
      </if>
      <if test="notificationUri != null" >
        notification_uri,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="callerId != null" >
        #{callerId,jdbcType=VARCHAR},
      </if>
      <if test="meaoId != null" >
        #{meaoId,jdbcType=VARCHAR},
      </if>
      <if test="notificationUri != null" >
        #{notificationUri,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByExampleSelective" parameterType="map" >

    update package_subscribe_table
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.callerId != null" >
        caller_id = #{record.callerId,jdbcType=VARCHAR},
      </if>
      <if test="record.meaoId != null" >
        meao_id = #{record.meaoId,jdbcType=VARCHAR},
      </if>
      <if test="record.notificationUri != null" >
        notification_uri = #{record.notificationUri,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >

    update package_subscribe_table
    set id = #{record.id,jdbcType=VARCHAR},
      caller_id = #{record.callerId,jdbcType=VARCHAR},
      meao_id = #{record.meaoId,jdbcType=VARCHAR},
      notification_uri = #{record.notificationUri,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.edgegallery.appstore.infrastructure.persistence.meao.PackageSubscribe" >

    update package_subscribe_table
    <set >
      <if test="callerId != null" >
        caller_id = #{callerId,jdbcType=VARCHAR},
      </if>
      <if test="meaoId != null" >
        meao_id = #{meaoId,jdbcType=VARCHAR},
      </if>
      <if test="notificationUri != null" >
        notification_uri = #{notificationUri,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.edgegallery.appstore.infrastructure.persistence.meao.PackageSubscribe" >

    update package_subscribe_table
    set caller_id = #{callerId,jdbcType=VARCHAR},
      meao_id = #{meaoId,jdbcType=VARCHAR},
      notification_uri = #{notificationUri,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>